version: 2.1
orbs:
  node: circleci/node@4.1.0
workflows:
  tests:
    jobs:
      - node/test:
          pre-steps:
            - run:
                command: echo "install custom dependency"
          matrix:
            parameters:
              version:
                - 10.23.2
                - 12.20.2
                - 14.15.5
                - 15.8.0
            run-command:
              - test:ci
            setup:
              - run:
                  command: |
                    npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
